@page
@model VirtualJobExpert.Pages.Admin.PostJobModel
@{
    ViewData["Title"] = "Post Job";
}

<!-- Breadcromb Area Start -->
<section class="jobguru-breadcromb-area">
    <div class="breadcromb-top section_100">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcromb-box">
                        <h3>Post A job</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="breadcromb-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcromb-box-pagin">
                        <ul>
                            <li><a href="#">home</a></li>
                            <li><a href="#">Admin</a></li>
                            <li class="active-breadcromb"><a href="#">Post A job</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcromb Area End -->
<!-- Candidate Dashboard Area Start -->
<section class="candidate-dashboard-area section_70">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-3 dashboard-left-border">
                <div class="dashboard-left recent-jobs">
                    <h3>Recent Jobs Posted</h3>
                    <ul class="dashboard-menu">
                        @foreach (var job in Model.RecentJobs)
                        {
                        <li>
                            <a href="#"> @job.Title (@job.CityState)</a>
                        </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="col-md-12 col-lg-9">
                <div class="dashboard-right">
                    <div class="earnings-page-box manage-jobs">
                        <div class="manage-jobs-heading">
                            <h3>Post A new job</h3>
                        </div>
                        <div class="new-job-submission">
                            <form method="post">
                                <div class="resume-box">
                                    <div class="single-resume-feild feild-flex-2">
                                        <div class="single-input">
                                            <label for="j_title">Job Title:</label>
                                            <input type="text" id="j_title" name="title">
                                        </div>
                                        <div class="single-input">
                                            <label for="j_status">Job Status:</label>
                                            <select id="j_status" name="statusId">
                                                <option value=''>Select Status</option>
                                                @foreach (var stat in Model.Status)
                                                {
                                                    <option value="@stat.Id">@stat.Status</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="single-resume-feild feild-flex-2">

                                        <div class="single-input">
                                            <label for="j_category">Job Category:</label>
                                            <select id="j_category" name="categoryId">
                                                @foreach (var cat in Model.Categories)
                                                {
                                                    <option value="@cat.Id">@cat.Category</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="single-input">
                                            <label for="j_type">Job Type:</label>
                                            <select id="j_type" name="typeId">
                                                <option value=''>Select Type</option>
                                                @foreach (var type in Model.Types)
                                                {
                                                    <option value="@type.Id">@type.Type</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="single-resume-feild feild-flex-2">
                                        <div class="single-input">
                                            <label for="Location">City, State:</label>
                                            <input type="text" placeholder="e.g. Baltimore, MD" id="Location" name="cityState">
                                        </div>
                                        <div class="single-input">
                                            <label for="j_zip">Zipcode:</label>
                                            <input type="text" id="j_zip" name="zipcode">
                                        </div>
                                    </div>

                                    <div class="single-resume-feild feild-flex-2">
                                        <div class="single-input">
                                            <label for="j_title">Posted Date:</label>
                                            <input type="date" id="j_title" name="postedDate">
                                        </div>
                                        <div class="single-input">
                                            <label for="j_zip">Salary:</label>
                                            <input type="text" id="j_salary" name="salary">
                                        </div>
                                    </div>
                                    <div class="single-resume-feild feild-flex-2">
                                        <div class="single-input">
                                            <label for="j_company">Company Name:</label>
                                            <input type="text" id="j_company" name="companyName">
                                        </div>
                                        <div class="single-input">
                                            <label for="j_level">Career Lvel:</label>
                                            <select id="j_level" name="careerLevel">
                                                <option value=''>Select Region</option>
                                                <option>Entry Level</option>
                                                <option>Junior Level</option>
                                                <option>Mid Level</option>
                                                <option>Senior Level</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="single-resume-feild feild-flex-2">
                                        <div class="single-input">
                                            <label for="j_zip">Job Link:</label>
                                            <input type="text" id="j_link" name="link">
                                        </div>
                                        <div class="single-input">
                                            <label for="j_zip">Weekly Hours:</label>
                                            <input type="text" id="j_hours" name="weeklyHours">
                                        </div>
                                    </div>

                                    <div class="single-resume-feild">
                                        <div class="single-input">
                                            <label for="j_desc">Job Description:</label>
                                            <textarea id="j_desc" name="description"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-input submit-resume">
                                    <button type="submit">Post Job</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Candidate Dashboard Area End -->
