@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}
<!-- Banner Area Start -->
<section class="jobguru-banner-area">
    <div class="banner-slider owl-carousel">
        <div class="banner-single-slider slider-item-1">
            <div class="slider-offset"></div>
        </div>
        <div class="banner-single-slider slider-item-2">
            <div class="slider-offset"></div>
        </div>
    </div>
    <div class="banner-text">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="banner-search">
                        <h2>The Virtual Job Expert.</h2>
                        <h4>Find part time and virtual jobs! </h4>
                        <form>
                            <div class="banner-form-box">
                                <div class="banner-form-input">
                                    <input type="text" placeholder="Job Title, Keywords, or Phrase">
                                </div>
                                <div class="banner-form-input">
                                    <input type="text" placeholder="City, State or ZIP">
                                </div>
                                <div class="banner-form-input">
                                    <select class="banner-select">
                                        <option selected>Select Sector</option>
                                        <option value="1">Design & multimedia</option>
                                        <option value="2">Programming & tech</option>
                                        <option value="3">Accounting/finance</option>
                                        <option value="4">content writting</option>
                                        <option value="5">Training</option>
                                        <option value="6">Digital Marketing</option>
                                    </select>
                                </div>
                                <div class="banner-form-input">
                                    <button type="submit"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner Area End -->
<!-- Categories Area Start -->
<section class="jobguru-categories-area section_70">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="site-heading">
                    <h2>top Trending <span>Categories</span></h2>
                    <p>A better career is out there. We'll help you find it. We're your first step to becoming everything you want to be.</p>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var cat in Model.JobCategories)
            {
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <a href="#" class="single-category-holder account_cat">
                        <div class="category-holder-icon">
                            <i class="fa fa-briefcase"></i>
                        </div>
                        <div class="category-holder-text">
                            <h3>@cat.Category</h3>
                        </div>
                        <img src="assets/img/account_cat.jpg" alt="category" />
                    </a>
                </div>
            }
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="load-more">
                    <a href="#" class="jobguru-btn">browse all categories</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Categories Area End -->
<!-- Job Tab Area Start -->
<section class="jobguru-job-tab-area section_70 how-works-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="site-heading">
                    <h2>Job Openings</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade active show" id="pills-job" role="tabpanel" aria-labelledby="pills-job-tab">
                        <div class="top-company-tab">
                            <ul>
                                @foreach (var job in Model.ActiveJobs)
                                {
                                    <li>
                                        <div class="top-company-list">
                                            <div class="company-list-logo">
                                                <a href="#">
                                                    <img src="assets/img/company-logo-1.png" alt="company list 1" />
                                                </a>
                                            </div>
                                            <div class="company-list-details">
                                                <h3><a href="#">@job.Title - @job.CompanyName</a></h3>
                                                <p class="company-state"><i class="fa fa-map-marker"></i> @job.CityState</p>
                                                <p class="varify"><i class="fa fa-check"></i>Posted on @job.PostedDate.Value.ToShortDateString()</p>
                                                <p><i class="fa fa-dollar-sign"></i> @job.Salary</p>
                                            </div>
                                            <div class="company-list-btn">
                                                <a href="#" class="jobguru-btn">Apply Now</a>
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="load-more">
                    <a href="#" class="jobguru-btn">browse more listing</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Job Tab Area End -->
<!-- Blog Area Start
<section class="jobguru-blog-area section_70">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="site-heading">
                    <h2>Recent From <span>Blog</span></h2>
                    <p>It's easy. Simply post a job you need completed and receive competitive bids from freelancers within minutes</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <a href="#">
                    <div class="single-blog">
                        <div class="blog-image">
                            <img src="assets/img/blog-1.jpeg" alt="blog image" />
                            <p><span> 21</span> July</p>
                        </div>
                        <div class="blog-text">
                            <h3>If you're having trouble coming up with</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-12">
                <a href="#">
                    <div class="single-blog">
                        <div class="blog-image">
                            <img src="assets/img/blog-2.jpeg" alt="blog image" />
                            <p><span> 21</span> July</p>
                        </div>
                        <div class="blog-text">
                            <h3>details about Apple’s new iPad Pro models</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-12">
                <a href="#">
                    <div class="single-blog">
                        <div class="blog-image">
                            <img src="assets/img/blog-3.jpeg" alt="blog image" />
                            <p><span> 21</span> July</p>
                        </div>
                        <div class="blog-text">
                            <h3>what are those Steps to be a Successful developer</h3>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- Blog Area End -->

